@import url('https://fonts.googleapis.com/css2?family=poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(Image/Netflix.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: "poopins",sans-serif;
    color: #FFFFFF;
}
h1{
    color: red;
    font-weight: 900;
    margin: 10px;
}
.container{
    height: 500px;
    width: 400px;
    background-color: rgba(0,0,0,0.9);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sign{
    color: white;
    font-size: 1.4em;
    margin-top: 50px;
    margin-left: 40px;
}
.inputpart{
    margin-top: 20px;
    margin-left: 40px;
}
input{
   width: 90%;
   height: 40px;
   text-align: center;
   background-color: rgb(65, 61, 61);
   border: none;
   color: #FFFFFF;
   border-radius: 2px;
   font-size: 1em;
   }
   input:hover{
    background-color: rgb(65, 61, 61);
    border: none;
   }
   .button{
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
   }
   button{
    width: 330px;
    height: 40px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 2px;
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 5px;
   }
   button:hover{
    cursor: pointer;
   }
.me{
    margin-top: 100px;
    width: 20px;
    margin-left: 40px;
    display: flex;
}
#box1{
    margin-left: 40px;
    width: 15px;
    height: 15px;
    margin-top: 100px;
}
#box1:hover{
    cursor: pointer;
}
small{
    color: rgb(218, 199, 199);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#N{
    margin-left: 130px;
}
#N:hover{
    cursor: pointer;
    text-decoration: underline;
}
.new{
    margin-top: 50px;
    margin-left: 40px;
}
#newaccount{
    margin-left: 10px;
}
#newaccount:hover{
    cursor: pointer;
    text-decoration: underline;
}
p{
    margin-top: 20px;
    margin-left: 40px;
}